apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lovetest-data
  labels:
    app: lovetest-api
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
